#song-list-item{
    display: flex;
    border: black solid 3px;
    width: 500px;
}
#song-list-item img {
    height: 100px;
}
#song-name{
    font-size: x-large;
    position: absolute;
    margin-top: 30px;
    margin-left: 110px;
}
#artist-name{
    position: relative;
    position: absolute;
    margin-top: 60px;
    margin-left: 110px;
}
#play-pause {
    height: 75px;
    border-radius: 25%;
    position: absolute;
    margin-left: 300px;
    margin-top: 10px;
}